<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1 class="h1">Checkout</h1>
                <p>
                    Please re-verify information and pay for your order.
                </p>
            </div>
        </div>
        <div id="checkout-information">
            <%= render partial: 'layouts/partials/update_cart', locals: { carts: @carts, inventories: @inventories } %>
        </div>
    </div>
</section>
<%= javascript_include_tag 'ajax_checkout', 'data-turbolinks-track': 'load' %>
