<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1 class="h1">Order history</h1>
                <div>
                    Thank you for trusting to buy products in our shop.
                </div>
            </div>
        </div>
        <div class="my-5 p-4 pb-3 row bg-white shadow">
            <ul class="sessions">
            <%= render partial: 'layouts/partials/orders_summary', collection: @orders, as: :order %>
            </ul>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="order-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div id="order-details-content" class="modal-content">

    </div>
  </div>
</div>


<%= javascript_include_tag 'ajax_orders', 'data-turbolinks-track': 'load' %>