<section class="bg-light">
  <div class="container-fluid bg-light py-5 pb-3">
      <div class="col-md-6 m-auto text-center">
          <h1 class="h1">Change your password</h1>
          <p>
              Please enter your new password.
          </p>
      </div>
  </div>
  <div class="container pb-5">
    <div class="row">
      <div class="col-md-5 mx-auto shadow bg-white">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-floating my-4 mb-3' }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-floating mb-3">
                <input autofocus="autofocus" autocomplete="new-password" type="password" name="user[password]" id="user_password" class="form-control" placeholder="New password" required oninvalid="this.setCustomValidity('Please fill out this field.')" onchange="this.setCustomValidity('')">
                <label for="user_password">New password <span class="text-danger">*</span> <em>(6 characters minimum)</em></label>
            </div>
            <div class="form-floating mb-3">
                <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" placeholder="Password Confirmation" required oninvalid="this.setCustomValidity('Please fill out this field.')" onchange="this.setCustomValidity('')">
                <label for="user_password_confirmation">Confirm new password <span class="text-danger">*</span></label>
            </div>            
            <div class="actions d-grid">
                <input class="btn btn-success btn-login fw-bold font-size-18-px" type="submit" name="commit" value="Change my password" data-disable-with="Change my password">
                <a href="/home" class="btn btn-secondary btn-login fw-bold font-size-18-px my-3"><i class="fa fa-faw fa-arrow-left"></i> Back to home</a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>