/*
Custom Css
*/
.cursor-pointer {
  cursor: pointer;
}

#page-loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: #F5F5F5;
}
  
.three-balls {
    margin: 0 auto;
    width: 70px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
}
  
.three-balls .ball {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #59ab6e;
    display: inline-block;
    -webkit-animation: bouncedelay 2.0s infinite cubic-bezier(.62, .28, .23, .99) both;
    animation: bouncedelay 2.0s infinite cubic-bezier(.62, .28, .23, .99) both;
}
  
.three-balls .ball1 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}
  
.three-balls .ball2 {
    -webkit-animation-delay: -.08s;
    animation-delay: -.08s;
}
  
@keyframes bouncedelay {
  0% {
    bottom: 0;
  }
  16.66% {
    bottom: 40px;
  }
  33.33% {
    bottom: 0px;
  }
  50% {
    bottom: 40px;
  }
  66.66% {
    bottom: 0px;
  }
  83.33% {
    bottom: 40px;
  }
  100% {
    bottom: 0;
  }
}
  
@-webkit-keyframes bouncedelay {
  0% {
    bottom: 0;
  }
  16.66% {
    bottom: 40px;
  }
  33.33% {
    bottom: 0px;
  }
  50% {
    bottom: 40px;
  }
  66.66% {
    bottom: 0px;
  }
  83.33% {
    bottom: 40px;
  }
  100% {
    bottom: 0;
  }
}
.font-size-1-rem {
  font-size: 1rem!important;
}
.font-weight-300 {
  font-weight: 300!important;
}
.font-weight-400 {
  font-weight: 400!important;
}
.margin-bottom-0-rem {
  margin-bottom: 0rem!important;;
}
.item-img {
  height: 50px;
  width: 50px;
}
.avatar-comment-img {
  height: 70px;
  width: 70px;
}
.separated-comment {
  border-bottom: 2px solid #56ae6c;
}
.active-item-img {
  border: 2px solid #56ae6c;
}
.ml-auto {
  margin-left: auto!important;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
.dropdown-toggle::after {
  display:none;
}
.dropdown-item:focus{
  background: none !important ;
  box-shadow:none !important;
  border: none !important; 
}
.font-size-0-9-rem {
  font-size: 0.9rem !important;
}
.font-size-1-1-rem {
  font-size: 1.1rem !important;
}
.list-right {
  left: auto !important;
  right: 10px !important;
}
.shopping-cart {
  width: 400px;
}
.item-cart-img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 12px;
}
.shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart-items {  
  list-style-type: none;
}
.w-60-px {
  width: 60px!important;
}
.border-0 {
  border: 0;
}
.border-0:focus {
  outline: none;
}
.tr-text-center {
  padding: 20px 0.5rem!important;
}
.tr-border-transparent {
  border: transparent!important;
}
.w-0 {
  width: 0!important;
}