<div id="dropdownMenuCart-menu" class="shopping-cart dropdown-menu list-right">
    <div class="px-3 row" onclick="open_dropdown(event)">
        <div class="col-md-5"><i class="fa fa-fw fa-cart-arrow-down text-dark"></i></div>
        <div class="col-md-7 pb-2">
            <span class="text-muted">Total:</span>
            <span id="total-cart" class="text-success"><%= number_to_currency(session[:total_cart], precision: 0, unit: 'VND', format: '%n %u') %></span>
        </div>
        <hr class="text-success" />
    </div>

    <div class="shopping-cart-items" id="cart">
        <%= render partial: 'layouts/partials/cart_item', collection: @carts, as: :item %>
    </div>
     <div id="check-out-content" class="px-2" onclick="open_dropdown_without_preventDefault(event)">
        <% if is_cart_empty %>
            <label class="text-center w-100">Cart is empty</label>
        <% else %>
            <hr class="text-success my-0 mb-2" />
            <div class="text-center">
                <a type="button" href="/checkout" class="btn btn-success text-white">Checkout</a>
            </div>
        <% end %>   
    </div>
</div>
