<div class="shadow-sm p-4 bg-white pb-3">
    <h2 class="h2">Order details</h2>
    <hr class="text-success">
    <div class="text-end">
        <a onclick="back_to_cart()" class="btn btn-secondary text-white"><i class="fa fa-faw fa-arrow-left"></i> Back to my cart</a>
        <a class="btn btn-success text-white">Checkout</a>     
    </div>
</div>