<ul class="list-unstyled templatemo-accordion">
    <li class="pb-3">
        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
            Categories
            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
        </a>
        <ul class="collapse show list-unstyled pl-3">
            <% categories.each do |category| %>
                <li><%= link_to category.category_name, '#', class: 'text-decoration-none', onclick: "filter_products('categories', '#{category.category_name}' )" %></li>              
            <% end %>           
        </ul>
    </li>
    <li class="pb-3">
        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
            Ages
            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
        </a>
        <ul class="collapse show list-unstyled pl-3">
            <% ages.each do |age| %>
                <li><%= link_to age.age_name, '#', class: 'text-decoration-none' %></li>              
            <% end %>           
        </ul>
    </li>
    <li class="pb-3">
        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
            Gender
            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
        </a>
        <ul class="collapse show list-unstyled pl-3">
            <li><a class="text-decoration-none" href="#">Men</a></li>
            <li><a class="text-decoration-none" href="#">Women</a></li>
        </ul>
    </li>
    <li class="pb-3">
        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Sale</a>
    </li>
    <li class="pb-3">
        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
            Product groups
            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
        </a>
        <ul id="collapseThree" class="collapse list-unstyled pl-3">
            <% product_groups.each do |product_group| %>
                <li><%= link_to product_group.product_group_name, '#', class: 'text-decoration-none' %></li>              
            <% end %>  
        </ul>
    </li>
</ul>