<div class="modal fade" id="sign-in" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
            <div class="row px-3">
                <a class="btn-close cursor-pointer ml-auto" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <h1 class="h2 text-center mb-3 fw-light fs-5 text-success"><strong>Sign in</strong></h1>
            <form>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Remember password
                  </label>
              </div>
              <div class="form-check mb-3">               
                  <a class="text-decoration-none cursor-pointer text-right">
                    Forgot password?
                  </a>
              </div>
              <div class="d-grid">
                <a class="btn btn-success btn-login fw-bold">Sign in</a>
              </div>
              <hr class="my-2 mt-4">
              <div class="text-center row my-2">
                <label>Or</label>
              </div>
              <div class="d-grid mb-2">
                <a class="btn btn-google btn-login fw-bold" href="<%= user_google_oauth2_omniauth_authorize_path %>" data-turbo="false">
                  <i class="fab fa-google me-2"></i> Sign in with Google
                </a>
              </div>
              <div class="d-grid">
                <a class="btn btn-facebook btn-login fw-bold">
                  <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                </a>
              </div>
              <div class="form-check mt-3 mb-3 text-center">
                <label>Not a member? <a class="text-decoration-none cursor-pointer text-right">Create a account</a></label>                              
              </div>
            </form>

      </div>
    </div>
  </div>
</div>